<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.valentichu.server.core.mapper.ActivityMapper">
    <insert id="saveActivity" useGeneratedKeys="true" keyProperty="activity_id">
        INSERT INTO activity (activity_name, created_date, open_id, gmt_create)
        VALUES (
        #{activityName},
        #{createdDate},
        #{openId},
        now())
    </insert>
    <insert id="bindUser" useGeneratedKeys="true" keyProperty="user_id">
        INSERT INTO activity_user (activity_id, user_name, user_weight, open_id, gmt_create)
        VALUES (
        #{activityId},
        #{userName},
        #{userWeight},
        #{openId},
        now())
    </insert>
</mapper>